@model AplicacionWeb.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClaseHtml</title>
</head>
<body>
    <div> 
      
        @using (Html.BeginForm("ClaseHtml","Usuario",FormMethod.Post)) {
        
        <label>Nombre de los usuarios</label>
        @Html.TextBoxFor(a=>a.Usuario)
        <br />

        <label>Contraseña</label>
        @Html.TextBoxFor(a => a.Contraseña)

            <input type="submit"/>
        
        }

        @Html.ActionLink("Bienvenido a la Página", "Bienvenido")

    </div>
</body>
</html>
